<mat-card>

  <div>
    <p>
      Developed by Yashasree Tummala in <img class="love" src="../../../assets/prograd-heart.svg" alt=""> with ProGrad.
    </p>
  </div>

  <mat-card-footer>
    <a href="https://www.facebook.com/febin.piano/"><img src="../../../assets/icons8-facebook-96.png" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/user/devinebass"><img src="../../../assets/icons8-youtube-squared-96.png" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/glguitars/?hl=en"><img src="../../../assets/icons8-instagram-96 (1).png" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.twitter.com"><img src="../../../assets/icons8-twitter-96.png" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-card-footer>
</mat-card>
