<app-navbar></app-navbar>

<section class="main">

       <div>

         <p class="decription">

           Pickfresh.com (Innovative Retail Concepts Private Limited) is India’s largest online food and grocery store.
           With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for.
           Right from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages,
           Personal care products, Meats – we have it all.
           Choose from a wide range of options in every category, exclusively handpicked to help you find the best
           quality available at the lowest prices.
           We guarantee on time delivery, and the best quality!
           Happy Shopping
         </p>
       </div>

       <div id="img1">
           <img class="img" mat-card-image src="../../../assets/Decoration/farmercrop.jpg" alt="kit">
       </div>
       <div>
         <p>
           <img class="img" mat-card-image src="../../../assets/Decoration/v2.jpg" alt="kit">

         </p>
       </div>

       <div>
         <p class="decription">

           Vegetables are boon to dieters .They are of ideal source of minerals which are required for the body . The
           vitamins and minerals are responsible for cell rejuvenation and regeneration and that keeps us young for a long time.
           A diet rich in vegetables can lower blood pressure , reduce risk of heart disease and stroke.

         </p>
       </div>
       <div>
         <p class="decription">

           Slotted Delivery: Pick the most convenient delivery slot to have your grocery delivered. From early morning
           delivery for early birds, to late-night delivery for people who work the late shift, bigbasket caters to
           every schedule.

         </p>
       </div>

       <div>
         <p>
           <img class="img" mat-card-image src="../../../assets/Decoration/deliveryboy.png" alt="kit">

         </p>
       </div>
       <div>
         <p>
           <img class="img" mat-card-image src="../../../assets/Decoration/delivery7.png" alt="kit">

         </p>
       </div>

       <div>
         <p class="decription">

           Express Delivery: This super useful service can be availed by customers in cities like Bangalore, Mumbai,
           Pune,
           Chennai, Kolkata, Hyderabad and Delhi-NCR in which we deliver your orders to your doorstep in 90 Minutes.
           BB Specialty stores: Missed out on buying that essential item from your favorite neighborhood store for
           tonight’s
           party? We’ll deliver it for you! From bakery, sweets and meat to flowers and chocolates, we deliver your
           order in
           90 minutes, through a special arrangement with a nearby specialty store, verified by us.

         </p>
       </div>

</section>

<br>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Yashasree Tummala</mat-card-title>
    <mat-card-subtitle>Prograd's Full Stack Developer</mat-card-subtitle>
  </mat-card-header>
  <img class="profile" matCardImage src="../../../assets/Decoration/1.png">
  <mat-card-content>
    I used Angular, Springboot, Hibernate, Maven, Git, RestApi, Html5, Css3, Javascript, Typescript.
  </mat-card-content>
</mat-card>


<app-footer></app-footer>
