
<body>
  <!-- <div class="container"> -->
    <!-- Navbar -->
    <div class="main" id="mainpage">


    <div class="open-navbar-icon navbar-icon center">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>



    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="close-navbar-icon navbar-icon center">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
        </div>
        <div class="nav-list">
          <a href="#mainpage" class="nav-link center">Home</a>
          <a href="#about" class="nav-link center">About Us</a>
          <a href="#about" class="nav-link center">Details</a>
          <a href="#service-offers" class="nav-link center">Services</a>
          <a href="#contact-info" class="nav-link center">Contact</a>
        </div>
      </nav>
    </div>
    <!-- End of Navbar -->



    <!-- Header -->
    <header class="header center">

      <div class="header-text">


        <h1 class="heading">Pick Fresh</h1>
        <br>
        <p class="header-paragraph">
          <!--"Good Bread With Fresh Butter, The Greatest Of Feasts"-->
          "Love Yourself Enough to Live  <br> a Healthy Lifestyle"
        </p>

        <br><br>
        <section class="buttons">

          <a (click)="signIn()" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>
            Login with Google
          </a>
        </section>
      </div>

     <!--<img src="../../../assets/pears-move.png" alt="Header Image" class="header-image" /> -->
      <div class="logo">
        <h1>
          <span class="center">e</span>
          <span class="center">a</span>
          <span class="center">t</span>
          <span class="center">f</span>
          <span class="center">r</span>
          <span class="center">e</span>
          <span class="center">s</span>
          <span class="center">h</span>
        </h1>
      </div>
      <!--
      <div class="login">
        <h4><button mat-raised-button color="warn" (click)="signIn()">Login with Google</button></h4>
      </div>
      -->

    </header>


    <!-- End of Header -->

    <!-- Popular tours -->
    <section class="popular-tours" id="about">
      <h1 class="popular-tours-heading">PickFresh is all about !</h1>
      <div class="cards-wrapper">
        <div class="card">
          <div class="front-side">
            <img src="../../../assets/Decoration/111.jpg" alt="Forest" class="card-image" />
            <h1 class="tour-name tname">Shop Crop</h1>
            <ul class="card-list">
              <li class="card-list-item"></li>
              <li class="card-list-item">Fresh Fruits</li>
              <li class="card-list-item">Graded Vegetables</li>
              <li class="card-list-item">Cereals & Pluses</li>
              <li class="card-list-item">Magical Spices</li>
            </ul>
            <button class="navigation-button">
              view &gt;&gt;
            </button>
          </div>
          <div class="back-side center">
            <button class="navigation-button">
              &lt;&lt; back
            </button>
            <div class="backcard">
                <h1>Minimum Price Rs.30 /- </h1>
                <h2> <br> Want to know more <br> Please Login</h2>
                <button class="card-button">Click Here</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="front-side">
            <img src="../../../assets/Decoration/2.jpg" alt="River" class="card-image" />
            <h1 class="tour-name tname">Silver Platter</h1>
            <ul class="card-list">
              <li class="card-list-item"></li>
              <li class="card-list-item">The Recipe Card</li>
              <li class="card-list-item">Professional Chefs</li>
              <li class="card-list-item">Cook & Dance</li>
              <li class="card-list-item">Become Cooking Expert !</li>
            </ul>
            <button class="navigation-button">
              view &gt;&gt;
            </button>
          </div>
          <div class="back-side center">
            <button class="navigation-button">
              &lt;&lt; back
            </button>
           <div class="backcard">
             <h1>Minimum Price Rs.200 /- </h1>
             <h2> <br> Want to know more <br> Please Login</h2>
             <button class="card-button">Click Here</button>
           </div>
          </div>
        </div>
        <div class="card">
          <div class="front-side">
            <img src="../../../assets/Decoration/33.jpg" alt="Sea" class="card-image" />
            <h1 class="tour-name tname">Order Food</h1>
            <ul class="card-list">
              <li class="card-list-item"></li>
              <li class="card-list-item">Taste the Joy !</li>
              <li class="card-list-item">Veg & Non Veg.</li>
              <li class="card-list-item">Fresh Farm Flavors</li>
              <li class="card-list-item">Yummy Tummy Tasty !</li>
            </ul>
            <button class="navigation-button">
              view &gt;&gt;
            </button>
          </div>
          <div class="back-side center">
            <button class="navigation-button">
              &lt;&lt; back
            </button>
            <div class="backcard">
              <h1>Minimum Price Rs.150 /- </h1>
              <h2> <br> Want to know more <br> Please Login</h2>
              <button class="card-button">Click Here</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Popular tours -->

    <!-- Stories -->
    <section class="stories" id="service-offers">
      <div class="video-container">
        <img class="bg-video" src="../../../assets/land1.jpg" alt="">
      </div>
      <div class="stories-wrapper">
        <h1 class="offers">Offers & Services</h1>
        <div class="story-bg">
          <div class="story">
            <img src="../../../assets/Decoration/delivery11.png" alt="Customer image" class="story-image" />
            <div class="story-text1">
              <br>
              <h1 class="story-heading1">
                Safe & Express Delivery
              </h1>
              <p class="story-paragraph1">
                Your order is on the way.. Be ready to have fresh vibes.
              </p>
            </div>
          </div>
        </div>
        <div class="story-bg">
          <div class="story">
            <img src="../../../assets/Decoration/fast2.png" alt="Customer image" class="story-image" />
            <div class="story-text2">
              <br>
              <h1 class="story-heading2">
                FREE DELIVERY ON ALL ORDERS
              </h1>
              <p class="story-paragraph2">
                Minimum Order Rs. 200 /-
              </p>
            </div>
          </div>
        </div>
        <div class="story-bg">
          <div class="story">
            <img src="../../../assets/Decoration/offers2.png" alt="Customer image"
              class="story-image" />
            <div class="story-text3">
              <br>
              <h1 class="story-heading3">
                Your Health is Our Priority
              </h1>
              <p class="story-paragraph3">
                Eat Fresh.. Stay Healthy.. because you are precious.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Stories -->

    <!-- Contact -->
    <section class="contact" id="contact-info">
      <h1 class="contact-heading">Contact Us</h1>
      <form class="contact-form center">
        <div class="input-group">
          <label>Full Name *</label>
          <input type="text" class="contact-input" placeholder="Enter Your Name" />
        </div>
        <div class="input-groups">
          <div class="input-group">
            <label>Email *</label>
            <input type="email" class="contact-input" placeholder="Enter Your Email" />
          </div>
          <div class="input-group">
            <label>Phone</label>
            <input type="text" class="contact-input" placeholder="Enter Phone Number" />
          </div>
        </div>
        <div class="input-group">
          <label>Message</label>
          <textarea class="form-textarea" placeholder="Your Message Here..."></textarea>
        </div>
        <input type="submit" value="Submit" (click)="submitComment()" class="form-btn" />
      </form>
    </section>
    <!-- End of Contact -->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-list">
        <a href="#mainpage" class="footer-link">Home</a>
        <a href="#about" class="footer-link">About Us</a>
        <a href="#about" class="footer-link">Offers</a>
        <a href="#service-offers" class="footer-link">Services</a>
        <a href="#contact-info" class="footer-link">Contact</a>
      </div>
      <p class="footer-paragraph">
        Follow us on -
        <a href="https://www.facebook.com/febin.piano/"><img class="img" src="../../../assets/Decoration/icons8-facebook-96.png" /></a>
        &nbsp;
        <a href="https://www.youtube.com/user/devinebass"><img class="img"
            src="../../../assets/Decoration/icons8-youtube-squared-96.png" /></a>
        &nbsp;
        <a href="https://www.instagram.com/glguitars/?hl=en"><img class="img"
            src="../../../assets/Decoration/icons8-instagram-96 (1).png" /></a>
        &nbsp;
        <a href="https://www.twitter.com"><img class="img" src="../../../assets/Decoration/icons8-twitter-96.png" /></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Copyright &copy; CodeAndCreate All Rights Reserved
      </p>
    </footer>
    <!-- End of Footer -->
   <!--</div>-->
   </div>
</body>
