* {
  padding: 0;
  margin: 0;
}

.testi{
  width: 95%;
}

.container {
  width: 70%;
  max-width: 100rem;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

/* Stories */

.stories {
  padding: 1rem 0;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-bg {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 2rem;
  margin: 5rem;
  width: 75%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(20deg);
}

.story {
  transform: skewX(-20deg);
  display: flex;
}

.story-image {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
}

.story-text {
  letter-spacing: 0.1rem;
}

.story-heading {
  font-size: 1.8rem;
  font-family: "Vollkorn",
    serif;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 1rem;
}

.story-paragraph {
  font-size: 1rem;
  color: #777;
  text-align: justify;
}

.story-paragraph::first-letter {
  margin-left: 1rem;
}

.testimonals {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem #adafaf;
}

/* End of Stories */

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  /*grid-gap: 1rem;*/
  grid-template-areas:

    'img-1 img-1 img-3 img-3 img-3'
    'img-1 img-1 img-2 img-2 img-2'
    'img-8 img-8 img-6 img-5 img-5 '
    'img-8 img-8 img-6 img-4 img-4'
    'img-7 img-7 img-6 img-4 img-4';
}


.img-1 {
  grid-area: img-1;
  min-height: 63.5rem;
  max-width: 50rem;
}

.img-2 {
  min-height: 30rem;
  grid-area: img-2;
}

.img-3 {
  min-height: 30rem;
  grid-area: img-3;
}

.img-4 {
  min-height: 32rem;
  grid-area: img-4;
}

.img-5 {
  min-height: 32rem;
  grid-area: img-5;
}

.img-6 {
  grid-area: img-6;
  min-height: 65.5rem;
}

.img-7 {
  min-height: 25rem;
  grid-area: img-7;
}

.img-8 {
  min-height: 40rem;
  grid-area: img-8;
}

.swara {
  width: 100%;
  height: 90%;
  object-fit: cover;
  display: block;
}

.image-gallery a {
  width: 95%;
  height: 20rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}


.image-gallery a img {
  position: relative;
  z-index: 100;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: 2rem;
  opacity: 100;
  transition: opacity .5s;
}

.image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover img,
.image-gallery a:hover::before {
  opacity: 1;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.gallery, .testimonials {
  display: flex;
  justify-content: center;
  font-family: 'Cookie',
    cursive;
  font-size: 4em;
  color: rgb(236, 55, 48);
  letter-spacing: 4px;
  margin-top: 2.1px;
}

.stories {
  margin-left: 60px;
}
