<app-navbar></app-navbar>

<br>
<br>
<h1 class="testimonials">Testimonials.!</h1>

<div class="testi">
    <!-- Stories -->
    <section class="stories">
      <div class="video-container">
        <img class="bg-video" src="../../../assets/land2.jpg" alt="">
      </div>
      <div class="stories-wrapper">
        <div class="story-bg">
          <div class="story">
            <img src="../../../assets/Decoration/g2.jpg" alt="Customer image" class="story-image" />
            <div class="story-text">
              <h1 class="story-heading">
                These were the best food I ate !
              </h1>
              <p class="story-paragraph">
                I enjoy the multiple options that pickfresh offers you such as chemical free vegetabless and fruits, it also
                offers us the unique method of which we can cook for ourselves as it's required and the whole material
                for cooking and it also has a better option of cooking the healthy food.
                As a customer, I am totally satisfied.
              </p>
            </div>
          </div>
        </div>
        <div class="story-bg">
          <div class="story">
            <img src="../../../assets/Decoration/g10.jpg" alt="Customer image" class="story-image" />
            <div class="story-text">
              <h1 class="story-heading">
                I enjoyed this great concept !
              </h1>
              <p class="story-paragraph">
                I really like how the app is organized into different kinds of foods. This makes it easy to shift through
                different options and figure out what I want to do. I also like about the food preparation and delivery..
              </p>
            </div>
          </div>
        </div>
          <div class="story-bg">
            <div class="story">
              <img src="../../../assets/Decoration/g4.jpg" alt="Customer image" class="story-image" />
              <div class="story-text">
                <h1 class="story-heading">
                  I can sense the Freshness !
                </h1>
                <p class="story-paragraph">
                  Pickfresh always provides a good product. I love to buy products from this website, especially when
                  its grocery. Need to highlight one thing, the best part of pickfresh is the packaging & the
                  transportation. Vegetables are really awesome. I always recommend that to all others, Really good
                  experience with pickfresh
                </p>
              </div>
            </div>
          </div>
              <div class="story-bg">
                <div class="story">
                  <img src="../../../assets/Decoration/g11.jpg" alt="Customer image" class="story-image" />
                  <div class="story-text">
                    <h1 class="story-heading">
                      I became a home chef finally !
                    </h1>
                    <p class="story-paragraph">
                      I like the concept of Silver Platter. Ended up making delicious recipes at Reasonable prices, offering a wide variety of items! Great for grocery nd spices items you need
                      ASAP!!
                    </p>
                  </div>
                </div>
              </div>
      </div>
    </section>
    <!-- End of Stories -->

</div>

<app-footer></app-footer>
