
<!-- SHOP CROP -->
<app-navbar></app-navbar>

<div class="container">
  <div class="row">
      <h1>
        SHOP CROP
      </h1>

        <marquee scrollamount="9" behavior="" direction="">
          Everyone deserves more health.. we help you to live long..!
        </marquee>

<br><br><br>
      <ngb-carousel>

        <ng-template ngbSlide>
          <img src="../../../assets/Decoration/sli1.jpg" alt="Random first slide">

        </ng-template>

        <ng-template ngbSlide>
          <img src="../../../assets/Decoration/sli2.jpg" alt="Random first slide">

        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/Decoration/sli3.jpg" alt="Random first slide">
        </ng-template>

      </ngb-carousel>


  </div>

<br><br><br><br>

  <div class="gallery1">
    <div class="roundimg">
      <img src="../../../assets/Decoration/fruits.jpg" class="croppic picimage" alt="">
      <div class="middle">
        <div class="text" routerLink='/gallerycrop'>Fruits</div>
      </div>
    </div>
    <div class="roundimg"><img src="../../../assets/Decoration/veg.jpg" class="croppic picimage" alt="">
      <div class="middle">
        <div class="text" routerLink='/gallerycrop'>Veggies</div>
      </div>
    </div>
    <div class="roundimg"><img src="../../../assets/Decoration/spices.jpg" class="croppic picimage" alt="">
      <div class="middle">
        <div class="text" routerLink='/gallerycrop'>Spices</div>
      </div>
    </div>
    <div class="roundimg"><img src="../../../assets/Decoration/bengalgram.jpg" class="croppic picimage" alt="">
      <div class="middle">
        <div class="text" routerLink='/gallerycrop'>Pulses</div>
      </div>
    </div>
    <div class="roundimg"><img src="../../../assets/Decoration/c1.jpg" class="croppic picimage" alt="">
      <div class="middle">
            <div class="text" routerLink='/gallerycrop'>Cereals</div>
          </div>
    </div>
  </div>

<!-- Silver Platter -->

<br><br><hr><br><br>
<H1>SILVER PLATTER</H1>
  <marquee scrollamount="9" behavior="" direction="">
        Let the foodie do the work.. Cooking is a therapy..!
  </marquee>
</div>

  <div class="container">
    <div class="row">
        <ngb-carousel>

          <ng-template ngbSlide>
            <img src="../../../assets/Decoration/chefs.jpg" alt="Random first slide">

          </ng-template>

        </ngb-carousel>

    </div>

    <br><br><br><br>

    <div class="gallery2">
      <div class="roundimg">
        <img src="../../../assets/Decoration/veg.png" class="kitpic picimage" alt="">
        <div class="middle mid">
          <div class="text1" routerLink='/gallerykits'>VEG</div>
        </div>
      </div>
      <div class="roundimg">
        <img src="../../../assets/Decoration/nonveg.png" class="kitpic picimage" alt="">
        <div class="middle mid">
          <div class="text1" routerLink='/gallerykits'>NON VEG</div>
        </div>
      </div>
    </div>
    <!-- Food Order -->
    <br><br>
    <hr><br><br>
    <H1>
      EAT FRESH
    </H1>
      <marquee scrollamount="9" behavior="" direction="">
        From the Farm to the Pan.. Paradise on your Plate..!
      </marquee>
</div>

      <div class="container">
        <div class="row">
            <ngb-carousel>

              <ng-template ngbSlide>
                <img src="../../../assets/Decoration/sli7.jpg" alt="Random first slide">

              </ng-template>

            </ngb-carousel>

        </div>

        <br><br><br><br>

        <div class="gallery3">
          <div class="roundimg"><img src="../../../assets/Decoration/veg.png" class="foodpic picimage" alt="">
            <div class="middle mid">
              <div class="text1" routerLink='/galleryfood'>VEG</div>
            </div>
          </div>
          <div class="roundimg"><img src="../../../assets/Decoration/nonveg.png" class="foodpic picimage" alt="">
            <div class="middle mid">
              <div class="text1" routerLink='/galleryfood'>NON VEG</div>
            </div>
          </div>
      </div>
   </div>
         <br><br>
         <hr><br><br>

         <app-footer></app-footer>
