

<mat-toolbar>
  <!--<span> <img src="../../../assets/Logo1.png" alt="">
    <a routerLink="/home"></a>
  </span>-->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button routerLink="/home" routerLinkActive="active-link">Home</button>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button routerLink="/aboutus" routerLinkActive="active-link">About Us</button>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button routerLink='/gallerycrop' routerLinkActive="active-link">Shop Crop</button>


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button routerLink='/gallerykits' routerLinkActive="active-link">Silver Platter</button>


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button routerLink='/galleryfood' routerLinkActive="active-link">Order Food</button>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button routerLink='/gallery' routerLinkActive="active-link">Gallery</button>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button mat-button class="cart" routerLink='/cart' routerLinkActive="active-link">Cart &nbsp; <img src="../../../assets/Decoration/icons8-shopping-cart-96.png" alt="">
  </button>
  <button class="login-register" mat-button routerLink='/profile' routerLinkActive="active-link">My Profile &nbsp; <img
      [src]="photo" alt=""> </button>

</mat-toolbar>

